<h1 class="ui header">Inventory Details</h1>
<% documents.forEach(doc=> { %>
<table class="ui table">
  <tbody>
    <tr>
      <th class="right aligned">Item Name</th>
      <td><%- doc.item_name %></td>
    </tr>
    <tr>
      <th class="right aligned">Manager</th>
      <td><%- doc.manager %></td>
    </tr>
    <tr>
      <th class="right aligned">Type</th>
      <td><%- doc.type %></td>
    </tr>
    <tr>
      <th class="right aligned">Quantity</th>
      <td><%- doc.quantity %></td>
    </tr>
    <tr>
      <th class="right aligned">Street</th>
      <td><%- doc.address.street %></td>
    </tr>
    <tr>
      <th class="right aligned">Building</th>
      <td><%- doc.address.building %></td>
    </tr>
    <tr>
      <th class="right aligned">Country</th>
      <td><%- doc.address.country %></td>
    </tr>
    <tr>
      <th class="right aligned">Zip Code</th>
      <td><%- doc.address.zipcode %></td>
    </tr>
    <tr>
      <th class="right aligned">Coordinates</th>
      <td>
        <%- doc.address.coordinates[0] + " " + doc.address.coordinates[1] %> <%
        if (doc.address.coordinates[0] && doc.address.coordinates[1] != '') { %>
        <button class="ui basic button ml-2" type="button" onclick="">
          <i class="map outline icon"></i>
          Show on map
        </button>
        <% } %>
      </td>
    </tr>
    <% if (doc.image) { %>
    <tr>
      <th class="right aligned">Image</th>
      <td>
        <img
          src="/<%- doc.image.path %>"
          alt=""
          class="ui large rounded image"
        />
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<% if (doc.manager == currentUser) { %>
<button
  type="button"
  class="positive ui left floated button"
  onclick="location.href='/edit/<%- doc._id %>'"
>
  Edit
</button>
<button
  type="button"
  class="negative ui right floated button"
  onclick="location.href='/delete/<%- doc._id %>'"
>
  Delete
</button>
<% } %> <% }) %>
