<button
  class="ui right floated right labeled basic icon button"
  onclick="history.back()"
>
  <i class="times icon"></i> Back
</button>

<h1 class="ui left floated header">Inventory Details</h1>

<% documents.forEach(doc=> { %>
<input id="item-id" type="hidden" value="<%- doc._id %> " />
<table class="ui basic definition padded table">
  <tbody>
    <tr>
      <th class="collapsing right aligned two wide">Item Name</th>
      <td><%- doc.item_name %></td>
    </tr>
    <tr>
      <th class="right aligned">Manager</th>
      <td><%- doc.manager %></td>
    </tr>
    <tr>
      <th class="right aligned">Type</th>
      <td><%- doc.type %></td>
    </tr>
    <tr>
      <th class="right aligned">Quantity</th>
      <td><%- doc.quantity %></td>
    </tr>
    <tr>
      <th class="right aligned">Street</th>
      <td><%- doc.address.street %></td>
    </tr>
    <tr>
      <th class="right aligned">Building</th>
      <td><%- doc.address.building %></td>
    </tr>
    <tr>
      <th class="right aligned">Country</th>
      <td><%- doc.address.country %></td>
    </tr>
    <tr>
      <th class="right aligned">Zip Code</th>
      <td><%- doc.address.zipcode %></td>
    </tr>
    <tr>
      <th class="right aligned">Coordinates</th>
      <td>
        <% if (doc.address.coordinates[0] && doc.address.coordinates[1] != '') {
        %> <%- doc.address.coordinates[0] + ", " + doc.address.coordinates[1] %>
        <form action="/map" method="" style="display: inline">
          <input
            type="hidden"
            value="<%- doc.address.coordinates[0] %>"
            name="lat"
          />
          <input
            type="hidden"
            value="<%- doc.address.coordinates[1] %>"
            name="lng"
          />
          <button class="ui basic small button ml-2" type="submit">
            <i class="map outline icon"></i>
            Show on map
          </button>
        </form>
        <% } %>
      </td>
    </tr>
    <% if (doc.image) { %>
    <tr>
      <th class="right aligned">Image</th>
      <td>
        <img
          src="/<%- doc.image.path %>"
          alt=""
          class="ui large rounded image"
        />
      </td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th colspan="2">
        <button
          type="button"
          class="ui left floated small basic button"
          onclick="location.href='/edit/<%- doc._id %>'"
        >
          <i class="edit icon"></i>
          Edit
        </button>
        <button
          type="button"
          class="ui right floated small basic negative delete-item button"
        >
          <i class="trash icon"></i>
          Delete
        </button>
      </th>
    </tr>
  </tfoot>
</table>
<% if (doc.manager == currentUser) { %> <% } %> <% }) %>
