<h1 class="display-4">Details of inventory</h1>
<br />
<div class="card">
  <div class="card-header">Inventory details</div>
  <ul class="list-group list-group-flush">
    <% if (documents.length == 0) { %>
    <li class="list-group-item">No item found</li>
    <% } else { %> <% documents.forEach(doc=> { %>
    <li class="list-group-item">Item name: <%- doc.item_name %></li>
    <li class="list-group-item">Manager: <%- doc.manager %></li>
    <li class="list-group-item">Type: <%- doc.type %></li>
    <li class="list-group-item">Quantity: <%- doc.quantity %></li>
    <li class="list-group-item">Street: <%- doc.address.street %></li>
    <li class="list-group-item">Building: <%- doc.address.building %></li>
    <li class="list-group-item">Country: <%- doc.address.country %></li>
    <li class="list-group-item">Zip code: <%- doc.address.postcode %></li>
    <li class="list-group-item">Lat: <%- doc.address.coordinate[0] %></li>
    <li class="list-group-item">Lng: <%- doc.address.coordinate[1] %></li>
    <% }) %> <% } %>
  </ul>
</div>
