<h1 class="display-4">Details of inventory</h1>
<br />
<div class="card">
  <div class="card-header">Inventory details</div>
  <ul class="list-group list-group-flush">
    <% if (inventory.length == 0) { %>
    <li class="list-group-item">No item found</li>
    <% } else { %> <% inventory.forEach(item=> { %>
    <li class="list-group-item">Item name: <%- item.inv_name %></li>
    <li class="list-group-item">Manager: <%- item.inv_manager %></li>
    <li class="list-group-item">Type: <%- item.inv_type %></li>
    <li class="list-group-item">Quantity: <%- item.inv_quantity %></li>
    <li class="list-group-item">Street: <%- item.inv_street %></li>
    <li class="list-group-item">Building: <%- item.inv_building %></li>
    <li class="list-group-item">Country: <%- item.inv_country %></li>
    <li class="list-group-item">Zip code: <%- item.inv_code %></li>
    <li class="list-group-item">Lat: <%- item.inv_lat %></li>
    <li class="list-group-item">Lng: <%- item.inv_lng %></li>
    <% }) %> <% } %>
  </ul>
</div>
