<div class="ui fluid card">
  <div class="content">
    <div class="header">Edit Inventory</div>
  </div>
  <div class="content">
    <% documents.forEach(doc=>{%>
    <form
      action="/update?_id=<%- doc._id %>"
      method="post"
      class="ui form"
      enctype="multipart/form-data"
    >
      <div class="field">
        <label>Item Name</label>
        <input
          type="text"
          name="item_name"
          placeholder="Item Name"
          value="<%- doc.item_name %>"
          required
        />
      </div>
      <div class="field">
        <label>Manager</label>
        <input
          type="text"
          name="manager"
          placeholder="Username"
          value="<%- doc.manager %>"
          readonly
        />
      </div>

      <div class="field">
        <label>Type</label>
        <input
          type="text"
          name="type"
          placeholder="Type"
          value="<%- doc.type %>"
        />
      </div>

      <div class="field">
        <label>Quantity</label>
        <input
          type="number"
          name="quantity"
          placeholder="Quantity"
          value="<%- doc.quantity %>"
        />
      </div>

      <div class="field">
        <label>Street</label>
        <input
          type="text"
          name="street"
          placeholder="Street"
          value="<%- doc.address.street %>"
        />
      </div>

      <div class="field">
        <label>Building</label>
        <input
          type="text"
          name="building"
          placeholder="Building"
          value="<%- doc.address.building %>"
        />
      </div>

      <div class="field">
        <label>Country</label>
        <input
          type="text"
          name="country"
          placeholder="Country"
          value="<%- doc.address.country %>"
        />
      </div>

      <div class="field">
        <label>Zip Code</label>
        <input
          type="text"
          name="zipcode"
          placeholder="Zip Code"
          value="<%- doc.address.zipcode %>"
        />
      </div>

      <div class="field">
        <label>GPS Latitude</label>
        <input
          type="number"
          name="lat"
          placeholder="Latitude"
          value="<%- doc.address.coordinates[0] %>"
        />
      </div>

      <div class="field">
        <label>GPS Longitude</label>
        <input
          type="number"
          name="lng"
          placeholder="Longitude"
          value="<%- doc.address.coordinates[1] %>"
        />
      </div>

      <div class="field">
        <label>Photo</label>
        <input type="file" name="image" />
      </div>

      <div class="ui fluid buttons">
        <button type="button" class="ui button" onclick="history.back()">
          Cancel
        </button>
        <div class="or"></div>
        <button type="submit" class="ui positive button">Update</button>
      </div>
    </form>
    <%}) %>
  </div>
</div>
