<%- include ('layout/header') %>

<h1 class="ui header">Inventory</h1>
<p>
  An express server that provides basic CRUD services for the inventory
  collection
</p>

<div class="ui two column grid">
  <div class="column">
    <button
      class="ui primary button"
      onclick="location.href='/create'"
      type="button"
    >
      Create new inventory
    </button>
  </div>
  <div class="column right aligned">
    <div class="ui category search">
      <div class="ui icon input">
        <input
          class="prompt"
          type="text"
          placeholder="Searching..."
          id="search-input"
        />
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>

<!-- item alert message  -->
<% if (message) { %>
<div class="ui <%- message.type %> message" role="alert">
  <i class="close icon"></i>
  <div class="header"><%- message.title %></div>
  <p><%- message.message %></p>
</div>
<% } %>

<!-- table from -->
<table class="ui celled padding striped selectable table">
  <thead>
    <tr>
      <th class="one wide center aligned">#</th>
      <th class="five wide">Name</th>
      <th class="four wide">Manager</th>
      <th class="three wide">Quantity</th>
      <th class="three wide center aligned">Action</th>
    </tr>
  </thead>
  <tbody>
    <% documents.forEach((doc, index)=> { %>
    <tr>
      <th class="center aligned"><%- index + 1 %></th>
      <td id="item-name">
        <a href="./details/<%- doc._id %>"><%- doc.item_name %></a>
      </td>
      <td><%- doc.manager %></td>
      <td><%- doc.quantity %></td>
      <td class="center aligned">
        <div class="ui small basic buttons">
          <% if (doc.manager == currentUser) { %>
          <button
            class="ui left attached button"
            onclick="location.href='/edit/<%- doc._id %>'"
          >
            <i class="blue edit icon"></i>Edit
          </button>
          <button
            class="ui right attached button"
            onclick="location.href='/delete/<%- doc._id %>'"
          >
            <i class="red trash icon"></i>
            Delete
          </button>
          <% } else { %>
          <button
            class="ui left attached button"
            onclick="location.href='/edit/<%- doc._id %>'"
            disabled
          >
            <i class="blue edit icon"></i>Edit
          </button>
          <button
            class="ui right attached button"
            onclick="location.href='/delete/<%- doc._id %>'"
            disabled
          >
            <i class="red trash icon"></i>
            Delete
          </button>
          <% } %>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
